/* App.css */
body {
  font-family: 'Cairo', sans-serif; 
  direction: rtl; 
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2 {
  color: #007acc; 
  transition: transform 0.3s ease;
}

h1:hover, h2:hover {
  transform: scale(1.05); 
}

/* General animation for sections */
section {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards; 
  transition: opacity 0.5s, transform 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
html {
  scroll-behavior: smooth; 
}



